


    
<div id="bd">
	<form action="#" method='get'>
		<button class="btn" type="submit"> Creare BD </button>
	</form>
	<br>
	<form action="#" method='get'>
		<button class="btn" type="submit"> Incarcare BD</button>
	</form>
	<br>
	<form action="#" method='get'>
		<button class="btn"> Afisare BD</button>
	</form>
</div>