
 <div class="col-md-6">

            <form class="form-horizontal" role="form">
                <h2>Complete the following labels in order to recover your password</h2>
                <br/>
            

                <div class="container-contactus">
                    <form class="contact-form" action="/action_page.php">
                    <p class="p-form">
                    <label class="contact-label" for="email">Email:</label>
                    <input class= "contact-input" type="text" id="email" name="email" >
                    </p>

                   
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn" href="/login">Recover my password</button>

                    <br/>
                    <br/>
                    </div>
                </div>
            </form> <!-- /form -->
            </div>
